<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id="exampleToolbar" role="group">
						<div class="form-group col-sm-6">
							<input id="nodeName" type="text" class="form-control" placeholder="节点名称">
						</div>
						<button class="btn btn-success" onclick="reLoad()">查询</button>

					</div>
					<table id="exampleTable" data-mobile-responsive="true"></table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/business/device/device.js"></script>
</body>
</html>