<div th:fragment="headinfo">
<li class="nav-header">
	<div class="dropdown profile-element">
		<span><img alt="image" class="img-circle" src="img/photo_s.jpg" /></span>
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">
			<span class="clear">
				<span class="block m-t-xs">
					<strong class="font-bold" th:text="${name}">超级管理员</strong>
				</span>
				<span class="text-muted text-xs block" th:text="${username}">超级管理员
					<b class="caret"></b>
				</span>
			</span>
		</a>
		<ul class="dropdown-menu animated fadeInRight m-t-xs">
			<li>
				<a class="J_menuItem" href="form_avatar.html">修改头像</a>
			</li>
			<li>
				<a class="J_menuItem" href="profile.html">个人资料</a>
			</li>
		</ul>
	</div>
</li>
</div>